<div class="row justify-content-md-center">
	<div class="jumbotron">
		<div class="alert" ng-show="submitAlert" ng-class="{'alert-danger':submitError, 'alert-success':submitCorrect}" role="alert">
		  {{submsg}}
		</div>
		<div class="card border-primary mb-3" style="max-width: 40rem;">
		  <div class="card-header">Registration</div>
		  <div class="card-body text-primary">
		    <h5 class="card-title">Please enter your name and pick the Sectors you are currently involved in</h5>
				<form name="regForm" ng-submit="register(regForm.$valid)" novalidate>
				  <input type="hidden" class="form-control" name="regId" ng-model="regId" id="regId">
				  <div class="form-group">
				    <label for="name">Name:</label>
				    <input type="text" class="form-control" ng-class="{'is-invalid':nameError, 'is-valid':nameCorrect}" ng-keyup="nameCheck()" name="name" ng-model="name" id="name" placeholder="Enter your full name" required>
			        <div ng-show="nameMsg" ng-class="{'invalid-feedback':nameError, 'valid-feedback':nameCorrect}">
				        {{ nmsg }}
				    </div>
				  </div>	
				  <div class="form-group">
				    <label for="sectorname">Sectors:</label>
				    <select multiple size="5" class="form-control" name="sectorname" ng-model="sectorname" ng-change="sectorCheck()" ng-class="{'is-invalid':sectorError, 'is-valid':sectorCorrect}" id="sectorname" required>			  
						<option ng-repeat="sector in sectors" ng-disabled="sector.level.indexOf('main') > -1 " class="{{sector.level}}" value="{{sector.id}}" selected> {{sector.sectorName}} </option>
					</select>
				    <div ng-show="sectorMsg" ng-class="{'invalid-feedback':sectorError, 'valid-feedback':sectorCorrect}">
				    	{{ smsg }}				        
				    </div>
				  </div>
				  <div class="custom-control custom-checkbox">
					  <input type="checkbox" name="terms" class="custom-control-input" ng-change="termsCheck()" ng-class="{'is-invalid':termsError}" ng-model="terms" id="terms" required>
					  <label class="custom-control-label" for="terms">Agree to terms</label>
					  <div ng-show="termsError" class="invalid-feedback">
				        {{ tmsg }}
				      </div>
				  </div>
				  <br/>
				  <button type="submit" class="btn btn-success">Save</button>
				</form>
		  </div>
		</div>		
	</div>
</div>